@charset "UTF-8";

.msg{
	color:red;
	display:flex;
	text-align: center;
	
}

h3 {
	font-family: -apple-system;
}

@media only screen and (max-width:450px){

	#Table th{
		display:none;
	}
	#Table td{
		display: block;
	}
}