@charset "UTF-8";

.msg{
	color:red;
	display:flex;
	text-align: center;
	
}

h3 {
	font-family: -apple-system;
}
#Table{
}
#Table td,
#Table th{
}
@media only screen and (max-width:400px){
	#Table {
	}
	#Table th{
		display:none;
	}
	#Table td{
		display: block;
	}
}